<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Setup</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script type="text/javascript">
    window.GLOBAL = {} || window.GLOBAL;
    var user = JSON.parse(localStorage.getItem('user'));
    GLOBAL.isloggedIn = user ? user.isloggedIn : false;
  </script>
</head>

<body>
  <div id="root"></div>
  <script src="/js/bundle.js"></script>
</body>

</html>