.at-footermain {
    background: #3f424b;
    padding: 25px 0;
}

.at-conany {
    margin-top: 0;
    margin-bottom: 0;
}

.at-contactright {
    background: #51545d;
    padding: 20px;
    border-radius: 6px;
}

.at-contactright p {
    color: #dbdbdb;
}

.at-contactright h4 {
    margin: 0;
}

.at-bdright {
    border-right: 1px solid #9b9b9b;
}

.at-footerbottom {
    background: #2f2e34;
}

.at-ftheading {
    color: #838287;
}

.ft-list li a {
    color: #bfbfbf;
    font-size: 16px;
}

.ft-list li a:hover {
    color: #fff;
}

.ft-list li {
    padding: 7px 0;
}

.at-social li {
    float: left;
    margin-right: 35px;
}

.at-social li a i {
    color: #828186;
}