.at-searchbox {
  width: 100%;
}

.at-iconform {
  position: relative;
  margin-right: 5px;
}

.at-iconform i {
  position: absolute;
  top: 18px;
  left: 16px;
}

.btn {
  background: #ff7b3a;
  border: 0;
  padding: 8px 20px;
  font-weight: bold;
  height: 55px;
}

.btn:active,
.btn:focus,
.btn:hover {
  background: #ff7b3a;
  box-shadow: 0 14px 26px -12px rgba(251, 172, 96, 0.4),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  color: #fff;
}

.form-label .label-value {
  position: relative;
  background: #fff;
  border-radius: 4px;
  width: 21.8%;
}

.form-label .label-value input {
  border-radius: 4px;
  height: 55px;
  padding-left: 35px;
  background: none;
  position: relative;
  z-index: 1;
  width: 100%;
  border: 0;
}

.form-label label {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #909090;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
  padding-left: 26px;
  font-weight: normal;
  z-index: 0;
}

.form-css-label input:focus {
  outline: 0;
}

.form-css-label input[data-empty="false"] + label,
.form-css-label input:valid + label,
.form-css-label input:focus + label {
  color: #999;
  font-size: 12px;
  -webkit-transform: translate3d(0, -14px, 0);
  transform: translate3d(0, -14px, 0);
}

.at-multyclose {
  font-size: 25px;
  font-weight: normal;
  margin-left: 30px;
}

.at-add {
  background: transparent;
  border: 1px solid #fff;
  margin-left: 30px;
  margin-right: 5px;
  font-weight: normal;
}

.at-add:hover {
  background: transparent;
}

.more-option {
  color: #999;
}

.at-returndep {
  width: 50%;
  float: left;
  position: relative;
}

.at-returnin label {
  padding-left: 8px !important;
  left: 0;
}

.at-returnin input {
  padding-left: 8px !important;
}

.at-returnin::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  background: #ccc;
  top: 13px;
  left: 0;
}

.at-returncut {
  position: absolute;
  top: 18px;
  right: 11px;
  font-size: 22px;
  z-index: 99;
}

.at-disable {
  background: #d1abab33 !important;
  border-radius: 0 !important;
}

.at-topcity {
  background: #fff;
}

.at-topcity li {
  padding: 8px;
}

.at-topcity li:hover {
  background: #f6f6f6;
}

.at-topcity i {
  position: initial;
  font-size: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.at-sepreferred {
  background: transparent;
  border: 0;
  color: #fff;
}

.at-sepreferred:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.at-setrelate {
  position: relative;
}

.at-selicon {
  position: absolute;
  right: 6px;
  font-size: 22px;
  color: #fff;
  top: 14px;
}

.at-moreinline {
  display: inline-block;
  margin-right: 20px;
}

.at-sepreferred::placeholder {
  color: #fff;
}

.at-selepass {
  width: 65%;
  float: left;
  position: relative;
}

.at-selright {
  float: left;
  width: 35%;
}

.at-selepass::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 114%;
  background: #ccc;
  top: -15px;
  right: 24px;
}

.at-passection {
  position: absolute;
  max-width: 617px;
  background: #fff;
  left: -260px;
  border-top: 1px solid #e2e2e2;
  top: 54px;
  width: 617px;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.at-selepass h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.at-passhalf li {
  float: left;
  border: 1px solid #e9e4e4;
  height: 28px;
  width: 30px;
  margin-right: 7px;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
}

.at-passhalf li.active {
  background: #ff7b3a;
}

.at-passhalf li a {
  color: #000;
}

.at-passhalf li.active a {
  color: #fff;
}

.round {
  position: relative;
  margin-right: 22px;
  margin-top: 9px;
}

.round label {
  background-color: #fff;
  border: 1px solid #e9e4e4;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="radio"] {
  visibility: hidden;
  height: auto;
}

.round input[type="radio"]:checked + label {
  background-color: #ff7b3a;
  border-color: #ff7b3a;
}

.round input[type="radio"]:checked + label:after {
  opacity: 1;
}

.at-ftlist li {
  float: left;
  margin-left: 26px;
}

.at-passfooter {
  position: relative;
  padding-top: 30px;
  padding-right: 20px;
}

.at-passfooter::before {
  position: absolute;
  content: "";
  width: 105%;
  height: 1px;
  background: #ccc;
  top: 17px;
  left: -14px;
}

.at-lsdone a {
  color: #ff7b3a;
}
