/*============Sign In Css =============*/

.login_form {
  display: table;
  width: 100%;
  background: url(../img/signinBg.jpg);
  background-size: 100%;
}

.content_form {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
}

.inner_content {
  background: #fff;
  padding: 20px 40px 0;
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.05),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 0px auto;
  border-radius: 6px;
}

.sign_btn {
  width: 100%;
}

.left_content h4 {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

.form_content {
  text-align: left;
}

.forgetpass {
  margin-top: 12px;
  display: inherit;
  color: #ffa600;
  margin-bottom: 10px;
}

.login_tour {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  font-size: 22px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .forgetpass {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .inner_content {
    width: 100%;
  }
  .alert-danger {
    font-size: 12px;
  }
}

.warning_msg {
  margin-bottom: 40px;
}

.alert-danger {
  color: #f02121;
  padding: 6px;
}
