* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(css/fonts/MuseoSansCyrl.otf);
    src: url(css/fonts/MuseoSansCyrl_1.otf);
    src: url(css/fonts/MuseoSansCyrl_2.otf);
    src: url(css/fonts/MuseoSansCyrl_3.otf);
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

.whitecolor {
    color: #fff;
}


/*==== Padding CSS ====*/

.p-10 {
    padding: 10px;
}

.ptb-7 {
    padding: 7px 0;
}

.ptb-10 {
    padding: 10px 0;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.pt-80 {
    padding-top: 80px;
}

.ptb-90 {
    padding: 90px 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-10 {
    padding-bottom: 10px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pl-40 {
    padding: 0 0 0 40px;
}


/*==== Margin CSS ====*/

.mtb-10 {
    margin: 10px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-40 {
    margin: 40px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-60 {
    margin: 60px 0;
}

.mtb-70 {
    margin: 70px 0;
}

.mtb-80 {
    margin: 80px 0;
}

.mt-10 {
    margin: 10px 0 0 0;
}

.mt-20 {
    margin: 20px 0 0 0;
}

.mt-30 {
    margin: 30px 0 0 0;
}

.mt-40 {
    margin: 40px 0 0 0;
}

.mt-50 {
    margin: 50px 0 0 0;
}

.mt-60 {
    margin: 60px 0 0 0;
}

.mb-10 {
    margin: 0 0 10px 0;
}

.mb-20 {
    margin: 0 0 20px 0;
}

.mb-30 {
    margin: 0 0 30px 0;
}

.mb-60 {
    margin: 0 0 60px 0;
}

.mb-80 {
    margin: 0 0 80px 0;
}

.mb-90 {
    margin: 0 0 90px 0;
}

.bg-gray {
    background: #f5f7fa;
}

.bg-blue {
    background: #0879c9;
}

.bg-white {
    background: #fff;
}

.bg-black {
    background: #232f3e;
}

.bg-orange {
    background: #ff6a00;
}

.bg-yellow {
    background: #ffc833;
}

.bg-brown {
    background: #e54545;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 600;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

p {
    line-height: 18px;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.at-fontweight {
    font-weight: normal;
}

.pl-col {
    padding-left: 0;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs>li>a {
    margin-right: 0px;
    border-radius: 0;
    background: #24242c;
    padding: 10px 20px;
    border: 0;
    letter-spacing: 1;
    color: #b9b9b9;
    font-weight: 600;
}

.nav-tabs>li>a:hover {
    background: #8c8f96;
    color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #8c8f96;
    border: 0;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.form-control {
    height: 55px;
}