/*==== Top Bar Css here ====*/

.topbar {
    background: #244058;
    color: #fff;
}

.topbar li {
    display: inline-block;
    padding: 0 10px;
}

.heartbit {
    position: absolute;
    top: -5px;
    right: -16px;
    height: 16px;
    width: 16px;
    z-index: 10;
    border: 3px solid #fff6;
    border-radius: 70px;
    -moz-animation: 1s ease-out infinite heartbit;
    -o-animation: 1s ease-out infinite heartbit;
    -webkit-animation: 1s ease-out infinite heartbit;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 9px !important;
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}