/*==== Menubar Css here ====*/

.navbar {
    background: transparent;
    border-radius: 0;
    border: 0;
    z-index: 9;
    margin-bottom: 0;
}

.navbar-nav>li>a {
    color: #000 !important;
    background: transparent !important;
}

.navbar-brand {
    padding: 5px 15px;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    text-transform: capitalize;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.at-managedrop {
    min-width: 370px;
}

.at-mngprofile {
    width: 50%;
    float: left;
    position: relative;
}

.at-mngprofile:first-child::after {
    content: "";
    background: #e2e2e2;
    position: absolute;
    width: 1px;
    height: 103%;
    top: -5px;
    right: 0;
}

.main-header {
    background: #fff;
}


/*==== Top Bar Css here ====*/

.topbar {
    background: transparent;
    color: #9c9c9c;
    border-bottom: 1px solid #e2e2e2;
}

.topbar li {
    display: inline-block;
    padding: 0 30px 0 0;
}

.topbar li a {
    color: #9c9c9c;
    font-size: 12px;
}

.heartbit {
    position: absolute;
    top: -5px;
    right: -16px;
    height: 16px;
    width: 16px;
    z-index: 10;
    border: 3px solid #fff6;
    border-radius: 70px;
    -moz-animation: 1s ease-out infinite heartbit;
    -o-animation: 1s ease-out infinite heartbit;
    -webkit-animation: 1s ease-out infinite heartbit;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 9px !important;
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

.imageRelate {
    background-image: url(../../../../img/slider.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.at-exchange::after {
    position: absolute;
    content: "";
    background-image: url(../../../../img/exchange.png) !important;
    z-index: 1;
    height: 30px;
    width: 30px;
    background: #000;
    right: -17px;
    top: 12px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}