.at-dealbr h4 {
    font-weight: 600;
    font-size: 15px;
}

.at-coupon span {
    border: 1px dashed #4ba507;
    color: #4ba507;
    font-weight: 600;
    padding: 4px 5px 2px;
}

.at-coupandis {
    color: #ff7b3a;
}

.col-item {
    border: 1px solid #e1e1e1;
    background: #fff;
    margin-bottom: 10px;
}

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}

.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.clear-left {
    clear: left;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 20px;
}

.controls a {
    height: 35px;
    width: 35px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50%;
    line-height: 32px;
    margin-bottom: 25px;
    color: #1a1a1a;
}